.div1 {
    background-color: red;
    border: solid;
    margin-top: 10px;
    padding-bottom: 30px;

}
#pdiv {
    display: flex;
}

#div2 {
    background-color: yellow;
    border: solid;
    margin-top: 10px;
    padding-bottom: 30px;
    padding-left: 600px;
}
#div3 {
    background-color: yellow;
    border: solid;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 200px;
    padding-bottom: 30px;
    padding-right: 34px;
    padding-left: 600px;
}

#parentdiv1 {
    display: flex;
}
#div4 {
    background-color: #380b13da;
    border: solid;
    margin-top: 10px;
    margin-right: 10px;
    padding-top: 25px;
    padding-left: 300px;
}
#div5 {
    background-color: rgb(226 93 225 / 49%);
    border: solid;
    margin-top: 10px;
    padding-top: 10px;
    padding-right: 400px;
    
}
#div6 {
    background-color: rgb(90 121 156);
    border: solid;
    margin-top: 10px;
    margin-left: 10px;
    padding-top: 10px;
    padding-left: 8px;
    padding-right: 514px;
}
#parentdiv2 {
    display: flex;
}

#div7 {
    background-color: rgb(226, 93, 225);
    border: solid;
    margin-top: 10px;
    padding-top: 40px;
    padding-right: 100px; 
}
#div8 {
    background-color: rgb(226, 93, 225);
    border: solid;
    margin-top: 10px;
    margin-left: 8px;
    padding-top: 10px;
    padding-right: 100px;
}
#div9 {
    background-color: rgb(226 93 225);
    border: solid;
    margin-top: 10px;
    margin-left: 8px;
    padding-top: 10px;
    padding-right: 1025px;
}





